---
layout: default
---
<div class="home">
    <h1>Kenny Fraser</h1>
    
    <h2>Web Business Services</h2>
    
    {% include status.html %}
    
    {% include availability.html %}
    
    <p>
        Find out more <a href="{% link about.md %}">about me</a> and the <a href="{% link clients.md %}">client companies I've worked with</a> using these <a href="{% link tools.md %}">tools and resources</a>.
    </p>
    
    <a href="mailto:me@kennyfraser.com" title="send Kenny Fraser an email"> <i class="fa fa-envelope-o fa-2x"></i>&nbsp;&nbsp;<span itemprop="email">me@kennyfraser.com</span> </a>
</div>