<footer>

  <div id="contact" class="wrapper">

    <a href="{{ '/about' | prepend: site.baseurl }}">  
      <img src="{{ '/img/kenny-fraser-inverness-web-designer.jpg' | prepend: site.baseurl }}" itemprop="image"> 
      <!--https://secure.gravatar.com/avatar/f6d070fe4518a823b0905bbbfb5539cd?size=400-->
    </a>

    <p class="text" itemprop="description">{{ site.description }}</p>

    <ul class="social-media-list">

      {% if site.email %}
      <li>
        <a href="mailto:{{ site.email }}" title="send Kenny Fraser an email">
          <i class="fa fa-envelope-o fa-2x"></i>&nbsp;<span itemprop="email">{{ site.email }}</span>
        </a>
      </li>
      {% endif %}

      {% if site.phone %}
      <li>
        <a href="tel:{{ site.phone }}" title="call Kenny Fraser">
          <i class="fa fa-phone fa-2x"></i>&nbsp;<span itemprop="telephone">{{ site.phone }}</span>
        </a>
      </li>
      {% endif %}

      {% if site.twitter_username %}
      <li>
        <a href="https://twitter.com/{{ site.twitter_username }}" title="Kenny Fraser on Twitter" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
      </li>
      {% endif %}

      {% if site.facebook_username %}
      <li>
        <a href="https://www.facebook.com/{{ site.facebook_username }}" title="Kenny Fraser on Facebook" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-facebook-square fa-2x"></i>
        </a>
      </li>
      {% endif %} 

      {% if site.linkedin_username %}
      <li>
        <a href="http://linkedin.com/in/{{ site.linkedin_username }}" title="Kenny Fraser on LinkedIn" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-linkedin fa-2x"></i>
        </a>
      </li>
      {% endif %}

      {% if site.googleplus_username %}
      <li>
        <a href="http://google.com/{{ site.googleplus_username }}" title="Kenny Fraser on Google Plus" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-google-plus fa-2x"></i>
        </a>
      </li>
      {% endif %}

      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="Kenny Fraser's Posts RSS feed">
          <i class="fa fa-rss fa-2x"></i>
        </a>
      </li>

      {% if site.skype_username %}
      <li>
        <a href="skype:{{ site.skype_username }}?chat" title="Kenny Fraser on Skype" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-skype fa-2x"></i>
        </a>
      </li>
      {% endif %}

      {% if site.instagram_username %}
      <li>
        <a href="http://instagram.com/{{ site.instagram_username }}" title="Kenny Fraser on Instagram" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-instagram fa-2x"></i>
        </a>
      </li>
      {% endif %}

      {% if site.youtube_username %}
      <li>
        <a href="https://www.youtube.com/user/{{ site.youtube_username }}" title="Kenny Fraser on YouTube" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-youtube-play fa-2x"></i>
        </a>
      </li>
      {% endif %}

      {% if site.github_username %}
      <li>
        <a href="https://github.com/{{ site.github_username }}" title="Kenny Fraser on GitHub" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-github fa-2x"></i>
        </a>
      </li>
      {% endif %}

      {% if site.codepen_username %}
      <li>
        <a href="http://codepen.io/{{ site.codepen_username }}" title="Kenny Fraser on CodePen" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-codepen fa-2x"></i>
        </a>
      </li>
      {% endif %}

      {% if site.pph_username %}
      <li>
        <a href="http://pph.me/{{ site.pph_username }}" title="Kenny Fraser on PeoplePerHour" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-smile-o fa-2x"></i>
        </a>
      </li>
      {% endif %}

      {% if site.tripadvisor_username %}
      <li>
        <a href="http://tripadvisor.co.uk/members/{{ site.tripadvisor_username }}" title="Kenny Fraser on TripAdvisor" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-tripadvisor fa-2x"></i>
        </a>
      </li>
      {% endif %}

      {% if site.allmusic_username %}
      <li>
        <a href="http://www.allmusic.com/artist/{{ site.allmusic_username }}" title="Kenny Fraser on AllMusic" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-external-link fa-2x"></i>
        </a>
      </li>
      {% endif %}

      {% if site.gravatar_username %}
      <li>
        <a href="http://en.gravatar.com/{{ site.gravatar_username }}" title="Kenny Fraser on Gravatar" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-external-link fa-2x"></i>
        </a>
      </li>
      {% endif %}

      {% if site.ebay_username %}
      <li>
        <a href="http://www.ebay.co.uk/usr/{{ site.ebay_username }}" title="Kenny Fraser on eBay" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-external-link fa-2x"></i>
        </a>
      </li>
      {% endif %}

    </ul>

    <ul class="social-media-list">

      <li>
        <a href="http://mull.co" title="Self catering holiday cottage in Tobermory on Mull" rel="external" itemprop="sameAs">
          <i class="fa fa-bed fa-2x"></i>&nbsp;Tobermory Self Catering at Back Brae Lodge
        </a>
      </li>

      <li>
        <a href="https://www.tripadvisor.co.uk/VacationRentals-g551869-Reviews-Tobermory_Isle_of_Mull_The_Hebrides_Scotland-Vacation_Rentals.html" title="Self catering holiday cottage in Tobermory on Mull" rel="external nofollow" itemprop="sameAs">
          <i class="fa fa-tripadvisor fa-2x"></i>&nbsp;on TripAdvisor
        </a>
      </li>  

      <li>
        <a href="https://www.airbnb.co.uk/rooms/707119" title="Self catering holiday cottage in Tobermory on Mull" rel="external nofollow" itemprop="sameAs">
          <i class="fa fa-external-link fa-2x"></i>&nbsp;on Airbnb
        </a>
      </li>    

    </ul>

  </div> <!-- wrapper -->

</footer>