<footer>
  <div class="wrapper" id="contact">
    <a href="/about">
      <img alt="Kenny Fraser" itemprop="image" src="/img/kenny-fraser.jpg" title="Kenny Fraser">
      <!--https://secure.gravatar.com/avatar/f6d070fe4518a823b0905bbbfb5539cd?size=400-->
    </a>
  
    {% comment %}<p class="text" itemprop="description">{{ site.description }}</p>{% endcomment %}
    
    <ul>
      <li><a href="mailto:me@kennyfraser.com" title="send Kenny Fraser an email"> <i class="fa fa-envelope-o fa-2x"></i>&nbsp;&nbsp;<span itemprop="email">me@kennyfraser.com</span></a></li>
      <li><a href="http://linkedin.com/in/kennyfraser" itemprop="sameAs" rel="external me nofollow" target="_blank" title="Kenny Fraser on LinkedIn"> <i class="fa fa-linkedin fa-2x"></i>&nbsp;&nbsp;LinkedIn</a></li>
      
      {% comment %}
      <li><a href="https://github.com/kennyifraser" itemprop="sameAs" rel="external me nofollow" target="_blank" title="Kenny Fraser on GitHub"> <i class="fa fa-github fa-2x"></i>&nbsp;&nbsp;GitHub</a></li>
      <li><a href="http://en.gravatar.com/kennyifraser" itemprop="sameAs" rel="external me nofollow" target="_blank" title="Kenny Fraser on Gravatar"> <i class="fa fa-external-link fa-2x"></i> Gravatar</a></li>
      <li><a href="https://twitter.com/kennyfraser" itemprop="sameAs" rel="external me nofollow" target="_blank" title="Kenny Fraser on Twitter"> <i class="fa fa-twitter fa-2x"></i> Twitter</a></li>
      <li><a href="tel:+441312080206" title="call Kenny Fraser"> <i class="fa fa-phone fa-2x"></i>&nbsp;<span itemprop="telephone">0131 208 0206</span> </a></li>
      <li><a href="https://www.facebook.com/kennyifraser" itemprop="sameAs" rel="external me nofollow" title="Kenny Fraser on Facebook"> <i class="fa fa-facebook-square fa-2x"></i> </a></li>
      <li><a href="http://google.com/+KennyFraserDotcom" itemprop="sameAs" rel="external me nofollow" title="Kenny Fraser on Google Plus"> <i class="fa fa-google-plus fa-2x"></i> </a></li>
      <li><a href="" title="Kenny Fraser's Posts RSS feed"> <i class="fa fa-rss fa-2x"></i> </a></li>
      <li><a href="http://instagram.com/kennyifraser" itemprop="sameAs" rel="external me nofollow" title="Kenny Fraser on Instagram"> <i class="fa fa-instagram fa-2x"></i> </a></li>
      <li><a href="skype:kennyfraser.com?chat" itemprop="sameAs" rel="external me nofollow" title="Kenny Fraser on Skype"> <i class="fa fa-skype fa-2x"></i> </a></li>
      <li><a href="https://www.youtube.com/user/kennyfraserdotcom" itemprop="sameAs" rel="external me nofollow" title="Kenny Fraser on YouTube"> <i class="fa fa-youtube-play fa-2x"></i> </a></li>
      <li><a href="http://codepen.io/kennyfraserdotcom" itemprop="sameAs" rel="external me nofollow" title="Kenny Fraser on CodePen"> <i class="fa fa-codepen fa-2x"></i> </a></li>
      <li><a href="http://pph.me/kenny" itemprop="sameAs" rel="external me nofollow" title="Kenny Fraser on PeoplePerHour"> <i class="fa fa-smile-o fa-2x"></i> </a></li>
      <li><a href="http://tripadvisor.co.uk/members/kennyfraser" itemprop="sameAs" rel="external me nofollow" title="Kenny Fraser on TripAdvisor"> <i class="fa fa-tripadvisor fa-2x"></i> </a></li>
      <li><a href="http://www.allmusic.com/artist/kenny-fraser-mn0001285382" itemprop="sameAs" rel="external me nofollow" title="Kenny Fraser on AllMusic"> <i class="fa fa-external-link fa-2x"></i> </a></li>
      <li><a href="http://www.ebay.co.uk/usr/kennyifraser" itemprop="sameAs" rel="external me nofollow" title="Kenny Fraser on eBay"> <i class="fa fa-external-link fa-2x"></i> </a></li>
      {%endcomment%}
    </ul>
    
    <ul>
      <li><a href="https://mull.co" itemprop="sameAs" rel="external" target="_blank" title="Self catering holiday cottage in Tobermory on Mull"> <i class="fa fa-bed fa-2x"></i>&nbsp;&nbsp;Back Brae Lodge, Tobermory Self Catering  </a></li>
      <li><a href="https://www.airbnb.co.uk/rooms/707119" itemprop="sameAs" rel="external nofollow" target="_blank" title="Self catering holiday cottage in Tobermory on Mull"> <i class="fa fa-bed fa-2x"></i>&nbsp;&nbsp;Back Brae Lodge on Airbnb </a></li>
      <li><a href="https://www.tripadvisor.co.uk/VacationRentalReview-g551869-d3183059-Back_Brae_Lodge_Tobermory_Holiday_Cottage-Tobermory_Isle_of_Mull_The_Hebrides_Scotland.html" itemprop="sameAs" rel="external nofollow" target="_blank" title="Self catering holiday cottage in Tobermory on Mull"> <i class="fa fa-tripadvisor fa-2x"></i>&nbsp;&nbsp;Back Brae Lodge on TripAdvisor </a></li>
    </ul>
  </div> <!-- wrapper -->
</footer>