<footer>

  <div id="contact" class="wrapper">
  
    {% comment %}
    <a href="{% link about.md %}">
      <img src="{{ '/img/kenny-fraser-inverness-web-designer.jpg' }}" itemprop="image" alt="Kenny Fraser face, Inverness Web Designer and Developer" title="Kenny Fraser, Inverness Web Designer and Developer">
      <!--https://secure.gravatar.com/avatar/f6d070fe4518a823b0905bbbfb5539cd?size=400-->
    </a>
    {% endcomment %}

    <p class="text" itemprop="description">{{ site.description }}</p>

    <ul class="social-media-list">

      <li>
        <a href="mailto:me@kennyfraser.com" title="send Kenny Fraser an email">
          <i class="fa fa-envelope-o fa-2x"></i>&nbsp;<span itemprop="email">me@kennyfraser.com</span>
        </a>
      </li>
      <li>
        <a href="http://linkedin.com/in/kennyfraser" itemprop="sameAs" rel="external me nofollow" target="_blank" title="Kenny Fraser on LinkedIn" >
          <i class="fa fa-linkedin fa-2x"></i> LinkedIn profile
        </a>
      </li>
      
      {% comment %}
      <li>
        <a href="tel:+441312080206" title="call Kenny Fraser">
          <i class="fa fa-phone fa-2x"></i>&nbsp;<span itemprop="telephone">0131 208 0206</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/kennyfraser" title="Kenny Fraser on Twitter" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/kennyifraser" title="Kenny Fraser on Facebook" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-facebook-square fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="http://google.com/+KennyFraserDotcom" title="Kenny Fraser on Google Plus" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-google-plus fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="/feed.xml" title="Kenny Fraser's Posts RSS feed">
          <i class="fa fa-rss fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="http://instagram.com/kennyifraser" title="Kenny Fraser on Instagram" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-instagram fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="skype:kennyfraser.com?chat" title="Kenny Fraser on Skype" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-skype fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/user/kennyfraserdotcom" title="Kenny Fraser on YouTube" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-youtube-play fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/kennyifraser" title="Kenny Fraser on GitHub" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-github fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="http://codepen.io/kennyfraserdotcom" title="Kenny Fraser on CodePen" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-codepen fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="http://pph.me/kenny" title="Kenny Fraser on PeoplePerHour" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-smile-o fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="http://tripadvisor.co.uk/members/kennyfraser" title="Kenny Fraser on TripAdvisor" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-tripadvisor fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="http://www.allmusic.com/artist/kenny-fraser-mn0001285382" title="Kenny Fraser on AllMusic" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-external-link fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="http://en.gravatar.com/kennyifraser" title="Kenny Fraser on Gravatar" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-external-link fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="http://www.ebay.co.uk/usr/kennyifraser" title="Kenny Fraser on eBay" rel="external me nofollow" itemprop="sameAs">
          <i class="fa fa-external-link fa-2x"></i>
        </a>
      </li>
      {%endcomment%}

    </ul>

    <ul class="social-media-list">

      <li>
        <a href="https://mull.co" title="Self catering holiday cottage in Tobermory on Mull" rel="external" itemprop="sameAs" target="_blank">
          <i class="fa fa-bed fa-2x"></i>&nbsp;Tobermory Self Catering at Back Brae Lodge
        </a>
      </li>

      <li>
        <a href="https://www.tripadvisor.co.uk/VacationRentalReview-g551869-d3183059-Back_Brae_Lodge_Tobermory_Holiday_Cottage-Tobermory_Isle_of_Mull_The_Hebrides_Scotland.html" title="Self catering holiday cottage in Tobermory on Mull" rel="external nofollow" itemprop="sameAs" target="_blank">
          <i class="fa fa-tripadvisor fa-2x"></i>&nbsp;Back Brae Lodge on TripAdvisor
        </a>
      </li>  

      <li>
        <a href="https://www.airbnb.co.uk/rooms/707119" title="Self catering holiday cottage in Tobermory on Mull" rel="external nofollow" itemprop="sameAs" target="_blank">
          <i class="fa fa-external-link fa-2x"></i>&nbsp;Back Brae Lodge on Airbnb
        </a>
      </li>    

    </ul>

    <p><a href="#top"><i class="fa fa-hand-o-up"></i>&nbsp;back to top</a></p>

  </div> <!-- wrapper -->

</footer>