$base-font-family:		Lora, Georgia, serif
$secondary-font-family:	"Open Sans", Helvetica, Arial, sans-serif
$base-font-size:		18px
$small-font-size:		$base-font-size * 0.875
$base-line-height:		1.5

$spacing-unit:			$base-font-size * 2

$text-color:			hsla(240,25%,85%,1)

$background-color:		hsla(240,20%,10%,1)
$secondary-color:		hsla(240,22%,8%,.8)
$secondary-color-light:	lighten($secondary-color,10%)

$stripe-width:			8px
$background-image: 		repeating-linear-gradient(135deg, transparent, transparent $stripe-width, $secondary-color $stripe-width, $secondary-color $stripe-width * 2)
$brand-color:			#aab
$code-color:			$background-color